<header class="main-header clearfix">

    <nav class="main-menu clearfix">
        <div class="main-menu-wrapper clearfix">
            <div class="main-menu-wrapper__left clearfix">
                <div class="main-menu-wrapper__logo">
                    <a href="index.html"><img src="assets/images/pakwheelslogo/LogoPakwheels.png"  alt=""></a>
                </div>
                <div class="main-menu-wrapper__main-menu">
                    <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                    <ul class="main-menu__list">
                        <li class="dropdown current">
                            <a href="index.html">Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="#">Buy a Car</a>
                            <ul>
                                <li><a href="listings.html">Listings</a></li>
                                <li><a href="listings-details.html">Listings Details</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="main-menu-wrapper__right">
                <div class="main-menu-wrapper__btn-box">
                    <a href="#" class="thm-btn main-menu-wrapper__btn">Post an Ad</a>
                </div>
            </div>
        </div>
    </nav>
</header>


<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
</div><!-- /.stricky-header -->